<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/contact.css">
    </head>

    <body>
        <nav>
            <a href="{{url_for('home')}}" > Home </a>
            <a href="{{url_for('recorddata')}}"> Record Data </a> 
            <a href="{{url_for('upload_csv')}}"> Upload Data </a>
            <a href="{{url_for('result')}}"> Results </a>
            <a href="{{url_for('faq')}}"> FAQ </a>
            <a href="{{url_for('contact')}}" id="contact"> Contact </a>
        </nav>

        <!-- Insert contact form here -->
    </body>

</html>