<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name=" viewport" content="width=device-width, initial-scale = 1.0">
        <title> IM4U FAQ </title>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/faq.css">

    </head>

    <body>
        <nav>
            <a href="{{url_for('home')}}"> Home </a>
            <a href="{{url_for('recorddata')}}"> Record Data </a> 
            <a href="{{url_for('upload_csv')}}"> Upload Data </a>
            <a href="{{url_for('result')}}"> Results </a>
            <a href="{{url_for('faq')}}" id="faq"> FAQ </a>
            <a href="{{url_for('contact')}}"> Contact </a>
        </nav>

        <main>
            <h1 class="faq-heading">Frequently Asked Questions</h1>
            <section class="faq-container">
                <div class="faq-one">
                    <!-- faq question -->
                    <h1 class="faq-page">What is IdrottsMätta4U?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>IM4U is a mobile websystem that synchronizes with inertial measurement units (IMU) sensors to acquire acceleration data.
                            Using this raw data IM4U will provide your step frequency and ground contact times. <br>
                            You are also upload data acquired with the MoveSense mobile application, make sure that you save the data in one file. 
                        </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-two">
                    <!-- faq question -->
                    <h1 class="faq-page">With what events can I use IdrottsMätta4U?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>The current IM4U version only works for running and sprint data.
                            The IM4U development team is working on developing algorithms that will cover high jump, long jump, pole vault and much more.  </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-three">
                    <!-- faq question -->
                    <h1 class="faq-page">How can I benefit from using IdrottsMätta4U?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p>IM4U provides accurate information about step frequency and ground contact times. 
                            Knowing that fro springting; shorter ground contact times result in higher speeds and thus faster sprinting. <br>
                        Measuring ground contact times will allow users to track performance improvement while having important insight into where they can improve. </p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-four">
                    <!-- faq question -->
                    <h1 class="faq-page">Can I use the IdrottsMätta4U web app with any IMU sensor?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> The IM4U websystem has been calibrated using the sensors made by MoveSense. <br>
                        However, any inertial measurement unit that can output IMU6 data in a csv format should work with our algorithms. </p>
                    </div>
                </div>    
                <hr class="hr-line">
                <div class="faq-five">
                    <!-- faq question -->
                    <h1 class="faq-page">Can IdrottsMätta4U be used by multiple users with different accounts?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> At the moment we don't have accounts yet. </p>
                    </div>
                </div>    
                <hr class="hr-line">
                <div class="faq-six">
                    <!-- faq question -->
                    <h1 class="faq-page">Do I get a cloud space for storing my data history?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> At the moment we don't allow for storage yet </p>
                    </div>
                </div>    
                <hr class="hr-line">
                <div class="faq-seven">
                    <!-- faq question -->
                    <h1 class="faq-page">Can I extract my saved data from IdrottsMätta4U?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> Currently the output information is only accesible through the IM4U websystem </p>
                    </div>
                </div>    
                <hr class="hr-line">
                <div class="faq-eight">
                    <!-- faq question -->
                    <h1 class="faq-page">Is the IdrottsMätta4U websystem compatible with any webbrowser?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> Everything except for the recording of data is compatible with any webbrowser. <br>
                        Recording data requires a bluetooth connection of the webbrowser, which is currently only supported by chromium webbrowsers (chrome etc.).</p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-nine">
                    <!-- faq question -->
                    <h1 class="faq-page">Can I change the language of the websystem?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> No, the current version only supports English.</p>
                    </div>
                </div>
                <hr class="hr-line">
                <div class="faq-ten">
                    <!-- faq question -->
                    <h1 class="faq-page">How can I start with IdrottsMätta4U?</h1>
                    <!-- faq answer -->
                    <div class="faq-body">
                        <p> Buy a Movesense and get going! </p>
                    </div>
                </div>            
        </main>

        <script>
            var faq = document.getElementsByClassName("faq-page");
            var i;

            for (i = 0; i < faq.length; i++){
                faq[i].addEventListener("click", function(){
                    this.classList.toggle("active");

                    var body = this.nextElementSibling;
                    if (body.style.display === "block"){
                        body.style.display = "none";
                    } else {
                        body.style.display = "block"
                    }
                });
            }
        </script>

    </body>
</html>