<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/home.css">
    </head>

    <body>
        <nav>
            <a href="{{url_for('home')}}" id="home"> Home </a>
            <!-- Todo: actually have a tab to record data -->
            <a href="{{url_for('recorddata')}}"> Record Data </a> 
            <a href="{{url_for('upload_csv')}}"> Upload Data </a>
            <a href="{{url_for('result')}}"> Results </a>
        </nav>

        <div class="banner-area">
            <div class="text-area">
                <h2>Banner Text</h2>
                <a href="#" class="btn">Contact us</a>
            </div>
            <div class="logo-area">
                <img src="/static/logo_new.png" alt="Logo">
            </div>
        </div>

        <div class="footer-area">
            <div class="f1">
                <img src="/static/movesens_logo.png" alt="Logo Movesens">
            </div>
            <div class="f2">
                <h3>Made by athletes <br> for athletes</h3>
            </div>
            <div class="f3">
                <h3>Accurate <br> & Mobile</h3>
            </div>
            <div class="f4">
                <h3>Some extra stuff</h3>
            </div>
        </div>
    </body>
</html>