<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/home.css">
    </head>

    <body>
        <nav>
            <a href="{{url_for('home')}}" id="home"> Home </a>
            <a href="{{url_for('recorddata')}}"> Record Data </a> 
            <a href="{{url_for('upload_csv')}}"> Upload Data </a>
            <a href="{{url_for('result')}}"> Results </a>
            <a href="{{url_for('faq')}}"> FAQ </a>
            <a href="{{url_for('contact')}}"> Contact </a>
        </nav>

        <div class="banner-area">
            <div class="text-area">
                <h2>We improve <br> your sprint!</h2>
                <a href="{{url_for('contact')}}" class="btn">Contact us</a>
            </div>
            <div class="logo-area">
                <img src="/static/im4u-logo.png" alt="Logo">
            </div>
        </div>

        <div class="footer-area">
            <div class="f1">
                <img src="/static/movesens_logo.png" alt="Logo Movesens">
            </div>
            <div class="f2">
                <img src="/static/icon_athlete.png" alt="Athlete">
                <h3>Made by athletes <br> for athletes</h3>
            </div>
            <div class="f3">
                <img src="/static/icon_accuracy.png" alt="Accurate">
                <h3>Accurate <br> & Mobile</h3>
            </div>
            <div class="f4">
                <img src="/static/kth-logo.jpg" alt="KTH">
            </div>
        </div>
    </body>
</html>